:root {
  --bg-color: #fcf5e5;
  --calc-color: #a0eeee;
  --screen-color: #f0f0f0;
  --text-color: #424242;
  --border-color: #424242;
  --digit-button-color: #f0f0f0;
  --operator-button-color: #a0eeee;
  --equals-button-color: #ffa500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--bg-color);
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 1.5rem; /* 24px */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; /* 24px */
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 5vw, 1.5rem); /* min 16px, max 24px */
  padding: clamp(1rem, 5vw, 1.5rem); /* min 16px, max 24px */
  height: auto;
  width: 100%;
  max-width: 350px;
  background-color: var(--calc-color);
  border: 0.25rem solid var(--border-color); /* 4px */
  border-radius: 0.75rem; /* 12px */
  box-shadow: 6px 6px 0 var(--border-color);
}

.screen-container {
  height: 140px;
  color: var(--text-color);
  background-color: var(--screen-color);
  text-align: right;
  border: 0.25rem solid var(--border-color); /* 4px */
  border-radius: 0.75rem; /* 12px */
  box-shadow: -2px -2px 0 var(--border-color);
  padding: 2rem 1.25rem 0 1.25rem; /* 32px 20px 0px 20px */
}

.screen-top-row {
  height: 30px;
  font-size: 1.5rem; /* 24px */
  font-weight: 500;
  overflow: hidden;
}

.screen-bottom-row {
  height: 80px;
  font-size: 2.75rem; /* 44px */
  font-weight: 700;
  overflow: hidden;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(0.5rem, 5vw - 0.625rem, 0.625rem); /* min 8px, max 10px */
  width: 100%;
}

.button {
  height: clamp(3.125rem, 10vw, 3.625rem); /* min 50px, max 58px */
  width: 100%;
  font-family: inherit;
  font-size: 1.375rem; /* 22px */
  font-weight: 700;
  color: var(--text-color);
  background-color: var(--digit-button-color);
  border: 0.1875rem solid var(--border-color); /* 3px */
  border-radius: 0.75rem; /* 12px */
  box-shadow: 2px 2px 0 var(--border-color);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  transform: translate(2px, 2px); /* nudge down for a press effect */
}

.button:active {
  box-shadow: none; /* shadow disappears */
  transform: translate(3px, 3px); /* looks "pressed down" */
}

.span-two {
  grid-column: span 2;
}

.button[data-type="operator"] {
  background-color: var(--operator-button-color);
}

.button[data-action="equals"] {
  background-color: var(--equals-button-color);
}

.backspace-icon {
  pointer-events: none;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.5rem, 5vw - 0.625rem, 0.625rem); /* min 8px, max 10px */
  font-weight: 500;
}

.github-logo {
  width: 2rem; /* 32px */
  transition: all 0.2s ease-in-out;
}

.github-logo:hover {
  transform: scale(1.4);
}
